body{
    margin: 0;
    background-color: blue;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
}
.quiz-container{
    max-width: 700px;
    min-height: 500px;
    background-color: #fff;
    margin: 60px auto;
    border-radius: 10px;
    padding: 30px;
}
.quiz-container::after,.quiz-container::before{
    content: '';
    clear: both;
    display: table;
}
.question-number
.question
.option
.button
.answers-tracker{
    float: left;
    width: 100%;

}
.question-number h3{
    color: #009688;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.question{
    font-size: 22px;
    color: 000;
    padding: 15px 0;
    margin-bottom: 10px;
}
.options div{
    background-color: #ccc;
    font-size: 16px;
    color: 000;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    overflow: hidden;
}
.option div.correct{
    z-index: 1; 
    color: #fff;   
}
.option div.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1;
    transform:translateX(-100%)
    animation: animateBackground  correct 1s ease;
    animatio-fill-mode: forwards;
}
@keyframes animatebacground{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.option div.wrong{
    z-index: 1;
    color: #fff;
}
.options div.wrong::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1;
    transform:translateX(-100%)
    animation: animateBackground  correct 1s ease;
    animatio-fill-mode: forwards;
}
@keyframes animatebacground{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.button .btn{
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    background-attachment: #009688;
    font-size: 16px;
    color: #fff;
    border: none;
    display: inline-block;
    margin: 15px 0;
}
.answers-tracker{
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.answers-tracker div{
    height: 40px;
    width: 40px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}
.answers-tracker div.correct{
    background-color: green;
    background-image: url('img/right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.answers-tracker div.c.wrong{
    background-color: red;
    background-image: url('img/wrong.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}


